{% extends 'base.html' %} {% block title %}How it works{% endblock %} {% block
navbarend%} {{ super() }} {% endblock %} {% block hero %} {{ super() }}{%
endblock %} {% block active_hiw
%}class="is-active"{% endblock %}{% block content %}
<div class="columns m-3">
  <div class="column m-6">
    <h1 class="title is-3 pb-3">Welcome!</h1>
    <h5 class="subtitle is-5">So excited that you're here</h1>
    <p>Synsong is my current WIP </p>
  </div>
  <div class="column m-6">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="https://bulma.io/images/placeholders/1280x960.png"
            alt="Placeholder image"
          />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">Victoria</p>
            <p class="subtitle is-6">Creator of Synsong</p>
          </div>
        </div>

        <div class="content">
          Constantly learning through doing, check me out on
          <a href="#">Twitter</a>, <a href="#">GitHub</a>, and
          <a href="#">LinkedIn</a>!!
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
