<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='/mystyles.css') }}"
    />
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://synsong.app">
          <a class="button is-white"> </a>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="https://synsong.app"> Home </a>

          <a class="navbar-item" href="/community"> Community </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> More </a>

            <div class="navbar-dropdown">
              <a
                class="navbar-item"
                href="https://github.com/victoriaslocum752/synsong"
              >
                GitHub
              </a>
              <a class="navbar-item" href="https://victoriaslocum.com">
                About the Creator
              </a>
              <a
                class="navbar-item"
                href="https://open.spotify.com/user/qz80th8go5difpk5t66gfyqlo?si=00e56d76745946ff"
              >
                Synsong on Spotify
              </a>
              <hr class="navbar-divider" />
              <a
                class="navbar-item"
                href="https://github.com/victoriaslocum752/synsong/issues"
              >
                Report an issue
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% block loginbuttons %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="hero is-primary is-medium">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">{% block herotitle %}{% endblock %}</p>
          <p class="subtitle">{% block subtitle %}{% endblock %}</p>
        </div>
      </div>
      <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container">
            <ul>
              <li class="is-active">
                <a href="/overview">Overview</a>
              </li>
              <li>
                <a href="/howitworks">How it works</a>
              </li>
              <li>
                <a href="/features">Features</a>
              </li>
              <li>
                <a href="/community">Community</a>
              </li>
              <li>
                <a href="/welcome">Get Started</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </section>

    {% block content %}{% endblock %}
  </body>
</html>
