{% extends 'base.html' %} {% block title %}Community{% endblock %} {% block
navbarend%} {{ super() }} {% endblock %} {% block hero %} {{ super() }}{%
endblock %} {% block active_com %}class="is-active"{% endblock %}{% block
content %}

<div class="container is-max-widescreen">
  <div class="block mt-6 mb-6">
    <div class="icon-text">
      <span class="icon has-text-primary is-size-1 is-large"
        ><ion-icon name="musical-notes-outline"></ion-icon>
      </span>
      <span><p class="title is-1">Synsong on Spotify</p></span>
    </div>
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <div
          style="
            border-radius: 10px;
            overflow: hidden;
            width: 100%;
            display: flex;
            height: 100%;
          "
        >
          <iframe
            src="https://open.spotify.com/embed/playlist/3k3kfJW1xld4oDzIMO8oVw?utm_source=generator&theme=0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          ></iframe>
        </div>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Foo</p>
        <p class="subtitle">Bar</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Third column</p>
        <p class="subtitle">With some content</p>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas
            non massa sem. Etiam finibus odio quis feugiat facilisis.
          </p>
        </div>
      </article>
    </div>
  </div>
</div>
{% endblock %}
