{% extends 'base.html' %} {% block title %}Synsong{% endblock %}{% block
addscript %}
<script type="text/javascript" src="static/script.js"></script>

{% endblock %}{% block navbarend%}
<div class="navbar-end">
  <div class="navbar-item">
    <div class="buttons">
      <a class="button is-light" href="{{ login_url }}"> {{ login_text }} </a>
    </div>
  </div>
</div>
{% endblock %} {% block hero %}
<section class="hero is-primary is-small mb-6">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">Input a prompt and edit your playlist settings</p>
    </div>
  </div>
</section>
{% endblock %} {% block content %}
<div class="container is-max-desktop has-text-centered">
  <form action="" method="post" name="prompt" id="inputForm">
    <div class="columns">
      <div class="column p-5">
        <div class="field-label is-medium has-text-left pb-3">
          <label class="label" for="prompt">Prompt</label>
        </div>
        <div class="field-body">
          <div class="field">
            <textarea
              class="textarea is-primary"
              type="text"
              placeholder="A sentence, a quote, a paragraph..."
              name="prompt"
              rows="7"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="column p-5">
        <div class="field-label is-medium has-text-left pb-3">
          <label class="label" for="prompt">Genre</label>
        </div>
        <div class="field is-grouped is-grouped-multiline" id="genreButtons">
          <input
            class="button is-primary is-outlined m-3 selectButton"
            name="blues"
            value="blues"
            readonly
          />
          <input
            class="button is-primary is-outlined m-3 selectButton"
            name="children"
            value="children"
            readonly
          />
        </div>
      </div>
    </div>
    <div class="block pb-2"></div>
    <input type="hidden" name="hidden" value="none" id="hidden" />
    <input
      class="button is-primary is-medium"
      type="button"
      value="Make your playlist"
      id="submitButton"
    />
  </form>
</div>
{% endblock %}
