{% extends 'base.html' %} {% block title %}Synsong{% endblock %} {% block
navbarend%} {{ super() }} {% endblock %} {% block hero %} {{ super() }}{%
endblock %} {% block active_home %}class="is-active"{% endblock %}{% block
content %}
<div class="container is-max-widescreen">
  <div class="block has-text-centered p-6 mt-6">
    <h1 class="title is-2">See what Synsong can do</h1>
    <ion-icon
      class="icon is-medium has-text-primary"
      name="arrow-down-outline"
    ></ion-icon>
  </div>
  <div class="columns m-3">
    <div class="column m-6">
      <div class="content">
        <p class="is-size-5 has-text-weight-bold">Quote:</p>
        <div class="content">
          <textarea
            class="textarea is-primary has-fixed-size"
            type="text"
            rows="5"
            placeholder="Text input"
            readonly
          >
Sing like no one’s listening, love like you’ve never been hurt, dance like nobody’s watching, and live like it’s heaven on earth.</textarea
          >
        </div>
        <p class="is-size-5 has-text-weight-bold">Genre:</p>
        <div class="field is-grouped is-grouped-multiline pb-2">
          {#
          <p class="control">
            <a class="button is-primary is-outlined"> all genres </a>
          </p>
          #}
          <p class="control">
            <a class="button is-primary"> pop </a>
          </p>
          <p class="control">
            <a class="button is-primary"> rock </a>
          </p>
          {#
          <p class="control">
            <a class="button is-primary is-outlined"> dance </a>
          </p>
          <p class="control">
            <a class="button is-primary is-outlined"> rap </a>
          </p>
          <p class="control">
            <a class="button is-primary is-outlined"> world </a>
          </p>
          <p class="control">
            <a class="button is-primary is-outlined"> alternative </a>
          </p>
          <p class="control">
            <a class="button is-primary is-outlined"> blues </a>
          </p>
          <p class="control">
            <a class="button is-primary is-outlined"> electronic </a>
          </p>
          #}
          <p class="control">
            <a class="button is-primary"> country </a>
          </p>
          {#
          <p class="control">
            <a class="button is-primary is-outlined"> jazz </a>
          </p>
          <p class="control">
            <a class="button is-primary is-outlined"> folk </a>
          </p>
          <p class="control">
            <a class="button is-primary is-outlined"> new age </a>
          </p>
          <p class="control">
            <a class="button is-primary is-outlined"> latin </a>
          </p>
          #}
        </div>
        <div>
          <p class="is-size-5 has-text-weight-bold">Popularity:</p>
          <div class="slidecontainer">
            <input
              type="range"
              min="1"
              max="100"
              value="40"
              class="slider"
              id="myRange"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="column m-6">
      <div class="iframe-div">
        <iframe
          src="https://open.spotify.com/embed/playlist/7ChL1cFSc6Py51RfcUGcaP?utm_source=generator&theme=0"
          width="100%"
          height="400"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        ></iframe>
      </div>
    </div>
  </div>
  <div class="columns m-3">
    <div class="column m-6">
      <div class="iframe-div">
        <iframe
          src="https://open.spotify.com/embed/playlist/47RFKLsOmXp1Yc2lGPF4jW?utm_source=generator&theme=0"
          width="100%"
          height="400"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        ></iframe>
      </div>
    </div>
    <div class="column m-6">
      <div class="content">
        <p class="is-size-5 has-text-weight-bold">Quote:</p>
        <div class="content">
          <textarea
            class="textarea is-primary has-fixed-size"
            type="text"
            rows="5"
            placeholder="Text input"
            readonly
          >
If life were predictable it would cease to be life, and be without flavor.</textarea
          >
        </div>
        <p class="is-size-5 has-text-weight-bold">Genre:</p>
        <div class="field is-grouped is-grouped-multiline pb-2">
          {#
          <p class="control">
            <a class="button is-primary is-outlined"> all genres </a>
          </p>
          #} {#
          <p class="control">
            <a class="button is-primary is-outlined is-focused"> pop </a>
          </p>
          <p class="control">
            <a class="button is-primary is-outlined is-focused"> rock </a>
          </p>
          #} {#
          <p class="control">
            <a class="button is-primary is-outlined"> dance </a>
          </p>
          <p class="control">
            <a class="button is-primary is-outlined"> rap </a>
          </p>
          <p class="control">
            <a class="button is-primary is-outlined"> world </a>
          </p>
          <p class="control">
            <a class="button is-primary is-outlined"> alternative </a>
          </p>
          #}
          <p class="control">
            <a class="button is-primary"> blues </a>
          </p>
          {#
          <p class="control">
            <a class="button is-primary is-outlined"> electronic </a>
          </p>
          <p class="control">
            <a class="button is-primary is-outlined is-focused"> country </a>
          </p>
          #}
          <p class="control">
            <a class="button is-primary"> jazz </a>
          </p>
          <p class="control">
            <a class="button is-primary"> folk </a>
          </p>
          {#
          <p class="control">
            <a class="button is-primary is-outlined"> new age </a>
          </p>
          <p class="control">
            <a class="button is-primary is-outlined"> latin </a>
          </p>
          #}
        </div>

        <div>
          <p class="is-size-5 has-text-weight-bold">Popularity:</p>
          <div class="slidecontainer">
            <input
              type="range"
              min="1"
              max="100"
              value="75"
              class="slider"
              id="myRange"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
