{% extends 'base.html' %} {% block title %}Synsong{% endblock %} {% block
navbarend%}
<div class="navbar-end">
  <div class="navbar-item">
    <div class="buttons">
      <a class="button is-light" href="{{ login_url }}"> {{ login_text }} </a>
    </div>
  </div>
</div>
{% endblock %} {% block hero %}
<section class="hero is-primary is-small mb-6">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">Input a prompt and edit your playlist settings</p>
    </div>
  </div>
</section>
{% endblock %} {% block content %}
<div class="container is-max-desktop has-text-centered">
  <form action="" method="post" name="prompt" id="prompt">
    <div class="columns">
      <div class="column p-5">
        <div class="field-label is-medium has-text-left pb-3">
          <label class="label" for="prompt">Prompt</label>
        </div>
        <div class="field-body">
          <div class="field">
            <textarea
              class="textarea is-primary"
              type="text"
              placeholder="A sentence, a quote, a paragraph..."
              name="prompt"
              rows="7"
              name="prompt"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="column p-5">
        <div class="field-label is-medium has-text-left pb-3">
          <label class="label" for="prompt">Genre</label>
        </div>
        <div class="field is-grouped is-grouped-multiline">
          <p class="control">
            <a class="button is-primary is-outlined"> Coming </a>
          </p>
          <p class="control">
            <a class="button is-primary is-outlined"> Soon </a>
          </p>
        </div>
      </div>
    </div>
    <div class="block pb-2"></div>
    <input
      class="button is-primary is-medium"
      type="submit"
      formmethod="post"
      value="Make your playlist"
    />
  </form>
  {#
  <form action="" method="post">
    <label for="prompt"> Prompt: </label><br />
    <input class="input" type="text" name="prompt" /><br />
    <input class="button" type="submit" value="submit" />
  </form>
  #}
</div>
{% endblock %}
