{% extends 'base.html' %} {% block title %}Community{% endblock %} {% block
navbarend%}
<div class="navbar-end">
  <div class="navbar-item">
    <div class="buttons">
      <a class="button is-light" href="{{ login_url }}"> {{ login_text }} </a>
    </div>
  </div>
</div>
{% endblock %} {% block hero %}
<section class="hero is-primary is-small mb-6">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">Your playlist...</p>
    </div>
  </div>
</section>
{% endblock %}{% block content %}
<div class="container is-max-widescreen">
  <div class="columns m-3">
    <div class="column m-6">
      <div class="content">
        <p class="is-size-5 has-text-weight-bold">Prompt:</p>
        <div class="content">
          <textarea
            class="textarea is-primary has-fixed-size"
            type="text"
            rows="7"
            placeholder="Text input"
            readonly
          >
{{ prompt }}</textarea
          >
        </div>
        <p class="is-size-5 has-text-weight-bold">Genre:</p>
        <div class="field is-grouped is-grouped-multiline">
          <p class="control">
            <a class="button is-primary"> Coming </a>
          </p>
          <p class="control">
            <a class="button is-primary is-outlined"> Soon </a>
          </p>
        </div>
      </div>
    </div>
    <div class="column m-6">
      <div
        style="
          border-radius: 10px;
          overflow: hidden;
          width: 100%;
          display: flex;
          height: 100%;
        "
      >
        <iframe
          src="https://open.spotify.com/embed/playlist/{{ playlist_id }}?utm_source=generator&theme=0"
          width="100%"
          height="380"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        ></iframe>
      </div>
    </div>
  </div>
  <div class="container has-text-centered">
    <a class="button is-primary is-large" href="/generator">
      <strong>Back to app</strong>
    </a>
  </div>
</div>

{% endblock %}
